{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
    }],
    "import/prefer-default-export": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "warn"
  }
}
